* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.product-box .wrapper {
    background-color: #fff;
    width: 900px;
    padding: 25px;
    margin: 25px auto 0;
    margin-top: 80px;
    margin-bottom: 80px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.product-box .wrapper h2 {
    background-color: #fcfcfc;
    color: hsl(0, 0%, 13%);
    font-size: 24px;
    padding: 10px;
    margin-bottom: 8px;
    text-align: center;
    border: 1px dashed hsl(0, 0%, 13%);
}

.product-box .wrapper h4 {
    padding-bottom: 5px;
    color: hsl(0, 0%, 13%);
}

.product-box .input_group {
    margin-bottom: 8px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.product-box .input_box {
    width: 100%;
    margin-right: 12px;
    position: relative;
}

.product-box .dob{
    
}

.product-box .input_box:last-child {
    margin-right: 0;
}

.product-box .input_box label {
    font-size: 15px;
    font-weight: 600;
}

.product-box .input_box .name {
    padding: 14px 10px 14px 50px;
    width: 100%;
    background-color: #fcfcfc;
    border: 1px solid #0003;
    outline: none;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 3px;
    color: #333;
}

.product-box .input_box .name:focus, .dob:focus {
    -webkit-box-shadow: 0 0 2px 1px hsl(0, 0%, 13%);
    -moz-box-shadow: 0 0 2px 1px hsl(0, 0%, 13%);
    box-shadow: 0 0 2px 1px hsl(0, 0%, 13%);
    border: 1px solid hsl(0, 0%, 13%);
}

.product-box .input_box .icon {
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    color: #333;
    background-color: #f1f1f1;
    border-radius: 2px 0 0 2px;
    transition: 0.3s;
    font-size: 20px;
    pointer-events: none;
    border: 1px solid #00000003;
    border-right: none;
}

.product-box .input_box .radio {
    width: 20%;
    margin-left: 30px;
}

.product-box .input_box .dob {
    display: inline-flex;
}

.product-box .input_box .dob:nth-child(4) {
    width: 18%;
}

.name:focus+.icon {
    background-color: transparent;
    color: hsl(29, 90%, 65%);
    border-right: 1px solid hsl(0, 0%, 13%);
    border: none;
    transition: 1s;
}

.product-box .dob {
    width: 15%;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    text-align: center;
    background-color: #fcfcfc;
    transition: 0.3s;
    outline: none;
    border: 1px solid #c0bfbf;
    border-radius: 3px;
}

.product-box .radio {
    display: none;
}

.product-box .input_box label {
    width: 50%;
    padding: 13px;
    background-color: #fcfcfc;
    display: inline-block;
    float: left;
    text-align: center;
    border: 1px solid #c0bfbf;
}

.product-box .input_box label:first-of-type {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-right: none;
}

.product-box .input_box label:last-of-type {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-box .radio:checked+label {
    background-color: hsl(29, 90%, 65%);
    color: #fff;
    transition: 0.5s;
}

.product-box .input_box button {
    width: 100%;
    background-color: hsl(29, 90%, 65%);
    border: none;
    color: #fff;
    padding: 15px;
    border-right: 4px;
    font-size: 16px;
    transition: all 0.3s ease;
    border-radius: 8px;
}

.product-box .input_box button:hover {
    cursor: pointer;
    background-color: hsl(29, 90%, 65%);
}

@media screen and (max-width: 1024px) {
    .product-box .wrapper {
        width: 800px;
    }
}

@media screen and (max-width: 600px) {
    .product-box .wrapper {
        width: 385px;
    }
    .product-box .input_group {
        display: block;
        gap: 40px;
    }
    .product-box .wrapper h2 {
        font-size: 18px;
    }
    .product-box .wrapper h4 {
        font-size: 12px;
    }
    .product-box .input_box .name {
        margin-top: 12px;
        padding: 10px 8px 10px 50px;
        letter-spacing: 0.5px;
    }
    .product-box .input_group .radio{
        margin-bottom: 80px;
        width: 100%;
    }
    .product-box .input_box .icon {
        font-size: 20px;
    }
}